<?xml version="1.0"?>
<launch>

  <!--   
  <arg name="box0_x" default="0.508578" /> 
  <arg name="box0_y" default="-0.215704" /> 
  <arg name="box0_z" default="0.419773" /> 
 
  <arg name="box1_x" default="0.504103" /> 
  <arg name="box1_y" default="0.219654" /> 
  <arg name="box1_z" default="0.419764" />-->

  
  <!-- MoveIt options -->
  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>

  <!-- Panda options -->
  <arg name="load_gripper" default="true" />
  <arg name="transmission" default="effort" />

  <!-- Gazebo options -->
  <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
  <arg name="paused" default="false" doc="Start Gazebo paused"/>

  <!-- Launch the gazebo simulator and spawn the robot -->
  <include file="$(find franka_gazebo)/launch/panda.launch" pass_all_args="true">
    <arg name="headless" value="$(eval not arg('gazebo_gui'))" />
    <arg name="use_gripper" default="$(arg load_gripper)" />
    <arg name="controller" default="$(arg transmission)_joint_trajectory_controller" />
  </include>

 <!-- Spawn object in Gazebo with absolute path -->
  <node name="spawn_object11" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(find ros_package)/models/big_table/model.sdf -sdf -model big_table -x 0.5 -y 0 -z 0"/>
        
  <!-- Launch MoveIt -->
  <include file="$(find panda_moveit_config)/demo.launch" pass_all_args="true">
    <!-- robot_description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="false" />
    <!-- MoveItSimpleControllerManager provides ros_control's JointTrajectory controllers
         as well as GripperCommand actions -->
    <arg name="moveit_controller_manager" value="simple" />
  </include>
</launch>


